{% load static %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>RadiQ</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/GrayGrids/LineIcons/LineIcons.css">
        <link rel="stylesheet" href="{% static 'css/stylesheets/screen.css' %}">
        <link rel="icon" type="image/png" href="{% static 'img/kanri.png' %}">
        <link rel="stylesheet" href="{% static 'css/stylesheets/mystylesheet.css' %}">
    </head>

    <body class="bg-white">
        <div class="header">
            <div class="header-logo">
                <a href="{% url 'radiq:radiq-home' %}" class="inline-block rounded-full">RadiQ</a>
            </div>
            <div class="header-list">
              <ul>
                <li>
                    <a href="{% url 'radiq:radiq-home' %}" class="inline-block rounded-full">
                        <span class="font-bold text-xl">Home</span>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'radiq:not-created' %}" class="inline-block rounded-full">
                        <span class="font-bold text-xl">profile</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user:logout' %}" class="inline-block rounded-full">
                        <span class="font-bold text-xl">LogOut</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'radiq:post-create' %}">
                        <div class="radiq-button">
                            <button class="p-1 twitter-bg text-white w-full font-bold tracking-wide">New RadiQ</button>
                        </div>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'user:login' %}" class="inline-block rounded-full">
                        <span class="font-bold text-xl">ログイン画面へ</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user:signup' %}" class="inline-block rounded-full">
                        <span class="font-bold text-xl">User登録はこちら</span>
                    </a>
                </li>
                {% endif %}
                
              </ul>
            </div>
        </div>
        <!-- header start -->
        <!-- <div id="homeNavbar" class="middle-column-header border border-t-0 border-r-0 bg-white border-l-0">
            <div class="inner px-3 py-3">
                <div class="flex">
                    <div class="w-1/2">
                        <div class="inner">
                            <ul class="myheader">
                                <li><a href="{% url 'radiq:radiq-home'%}">Home</a></li>
                                <li><a href="{% url 'user:login'%}">ログイン画面へ</a></li>
                                <li><a href="{% url 'user:signup'%}">User登録はこちら</a></li>
                            </ul>
                         </div> 
                    </div>
                </div>
            </div>
        </div> -->
        <!-- header end -->

            {% block content %}
            {% endblock content %}

        <script src="{% static 'js/lib/jquery.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>

</html>