{% extends 'radiq/base.html' %}
{% load static %}

{% block content %}

    <!-- middle colulmn start -->
    <div class="w-full py-0 border border-t-0 border-b-0 ">

        
        <div class="hr-bar">
            <hr class="block h-3 w-full">
        </div>
        
        {% for post in posts %}
            <!-- tweets wrapper start -->
            <div class="tweets-wrapper">
                <div class="innner">

                    <!-- tweet start -->
                    <div
                        class="tweet cursor-pointer hover:bg-gray-100 transition-3 border border-l-0 border-r-0 border-t-0 p-4 pb-0">
                        <div class="flex">
                            <div class="w-auto">
                                <!-- tweet user img start -->
                                <div class="tweet-user-img">
                                    <span class="w-12 rounded-full overflow-hidden mr-2">
                                        <img
                                            src="https://pbs.twimg.com/profile_images/1132064597693870080/JlGuTeQt_bigger.png"
                                            alt="tweet user image">
                                    </span>
                                </div>
                                <!-- tweet user img end -->
                            </div>
                            <div class="w-full">
                                <!-- tweet tweet start -->
                                <div class="tweet-tweet">
                                    <!-- tweet info bar start -->
                                    <div class="tweet-info-bar flex items-center">
                                        <a href="#" class="hover:underline text-gray-900 font-bold text-base mr-1">{{ post.author }}</a>
                                        <span class="inline-block ml-1">·</span>
                                        <span class="text-gray-600 text-base font-light tracking-wide inline-block ml-1">{{ post.date_posted }}</span>
                                    </div>
                                    <!-- tweet info bar end -->
                                    <!-- tweet detail start -->
                                    <div class="tweet-detail">
                                        <p>{{ post.content }}</p>
                                    </div>
                                    <!-- tweet detail end -->

                                    <!-- tweet footer start -->
                                    <div class="tweet-footer pt-1">
                                        <div class="inner flex">

                                            <div class="inline-block w-full">
                                                <div class="inline-flex ficon-wrapper comment text-gray-600">
                                                    <a href="{% url 'radiq:post-detail' post.pk %}">Detail</a>
                                                </div>
                                            </div>

                                            <div class="inline-block w-full">
                                                <div class="inline-flex ficon-wrapper like text-gray-600">
                                                    <span class="ficon like rounded-full">
                                                        <svg
                                                            viewbox="0 0 24 24"
                                                            class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                            <g>
                                                                <path
                                                                    d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                    <span class="px-1 inline-block ficon-text font-normal">
                                                        {{ post.likes }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- tweet footer end -->
                                </div>
                                <!-- tweet tweet end -->
                            </div>
                        </div>
                    </div>
                    <!-- tweet end -->
               </div>
            </div>
            <!-- tweets wrapper end -->
        {% endfor %}

    </div>
    <!-- middle colulmn end -->

{% endblock content %}