{% extends 'radiq/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- middle colulmn start -->
    <div class="w-full py-0 border border-t-0 border-b-0 ">

        <!-- middle column header start -->
        <div id="homeNavbar" class="middle-column-header border border-t-0 border-r-0 bg-white border-l-0">
            <div class="inner px-3 py-3">
                <div class="flex">
                    <div class="w-1/2">
                        <div class="inner">
                            <a href="" class="text-xl font-bold text-black">Update the RadiQ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- middle column header end -->

        <!-- new tweet textarea start -->
        <form method="POST">
            {% csrf_token %}
            <div class="new-tweet-textarea p-3 pb-0">
                <div class="flex">
                    <div class="w-full">
                        {{ form | crispy }}
                        <div class="textarea-footer">
                            <div class="flex">
                                <div class="w-full">
                                    <!-- <div class="inner">
                                        <ul class="flex items-center justify-end"> -->
                                            <!-- <li class="text-right m-1 mb-2"> -->
                                                <span class="w-30 inline-block">
                                                    <button type="submit"
                                                            class="p-3 py-2 twitter-bg text-white w-full rounded-full font-bold tracking-wide ">Update the RadiQ</button>
                                                </span>
                                            <!-- </li> -->
                                        <!-- </ul>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- new tweet textarea end -->

        <div class="hr-bar">
            <hr class="block h-3 w-full">
        </div>
    </div>
    <!-- middle colulmn end -->

{% endblock content %}